mat-card{
  max-width: 90%;
  margin: auto;
}

textarea{
  resize: none;
  overflow: scroll;
}

button{
  margin: auto;
  margin-left: 10px;
}

.parent {
  width: 500px;
  margin: auto;
}

#preview {
  display: block;
  width: 100%;
  height: auto;
}

#driveInput {
  height: 14px;
  max-width: 250px;
  margin: auto;
}
