<mat-card fxLayout="row">
  <div fxLayout="column">
    <button mat-button (click)="generateVertical()">Generate vertical template</button>
    <button mat-button (click)="generateDefault()">Generate default template</button>
    <button mat-button (click)="success()" ngxClipboard [cbContent]="area">Copy</button>
  </div>
  <textarea rows="10" cols="50">
  {{area}}
  </textarea>
  <input id="driveInput" [(ngModel)]="url" type="text" (change)="readUrl()">
  <div class="parent">
    <img id="preview" [src]="result">
  </div>
</mat-card>


